<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NewsReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="s00165159Entities" connectionString="metadata=res://*/NewsModel.csdl|res://*/NewsModel.ssdl|res://*/NewsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CALRY\calry;initial catalog=s00165159;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NewsEntities" connectionString="metadata=res://*/NewsStorage.csdl|res://*/NewsStorage.ssdl|res://*/NewsStorage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=college-db-server.database.windows.net;initial catalog=news-reader;persist security info=True;user id=brian;password=Alannagh1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <NewsReader.Properties.Settings>
      <setting name="UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="ConsumerKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ConsumerSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="TheJournalXmlUri" serializeAs="String">
        <value />
      </setting>
      <setting name="DailyEdgeXmlUri" serializeAs="String">
        <value />
      </setting>
      <setting name="ForaXmlUri" serializeAs="String">
        <value />
      </setting>
      <setting name="The42XmlUri" serializeAs="String">
        <value />
      </setting>
    </NewsReader.Properties.Settings>
  </userSettings>
</configuration>